
/* this is for the body area */
body {
    background-color: #BCCCDC;
}



/* css for the draggable element s*/
.draggable {
    cursor: grabbing;
}

.draggable.dragging {
    cursor: grabbing;
}





/* main div container that contains all the other divs */

.main_div_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8FAFC;
    padding: 20px;
}


.div_element_container {

}

.drag_area {

}

.drag_area.title {

}

.element_propery{
    display: none;
}